.header {
    background-color: #c6e2e9;
    padding: 5px;
    height: 6%;
    margin-bottom: -1%;
}

.container{
    margin: 20px;
    justify-content: center;
}

.myImg{
    height: 80%;
    width: 80%;
}

.card{
    padding: 10px;
    margin: 5% !important;
    border-radius: 5%;
    /* height: 15rem !important;
    width: 45% !important; */
}

i{
    position: relative;
    float: right;
    margin-left: 10px;
}

