.header {
    overflow: hidden;
    background-color: #c6e2e9;
    padding: 10px;
}

.container{
    margin: 20px;
    justify-content: center;
}

.card{
    padding: 10px;
    border-radius: 5%;
    height: 15rem !important;
    width: 45% !important;
}

.pfp{
    border-radius: 20%;
    height: 120px;
    width: 110px;
}

.row{
    justify-content: space-evenly;
    margin: 20px;
}