.header {
    overflow: hidden;
    background-color: #c6e2e9;
    padding: 5px;
    height: 8%;
}

.container{
    margin: 20px;
    justify-content: center;
}

.card{
    padding: 10px;
    border-radius: 5%;
    height: 15rem !important;
    width: 40% !important;
}

.pfp{
    border-radius: 15%;
    height: 60%;
    width: 40%;
}

.row{
    justify-content: space-evenly;
    margin: 20px;
}

i{
    position: relative;
    float: right;
}